<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand noselect" routerLink="/">
      <img src="../../assets/candy-corn.svg" height="32" alt="Draw0"> <i class="logo">Draw0</i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *transloco="let t">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="dashboard">{{t('navbarComponent.dashboard')}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="about">{{t('navbarComponent.about')}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="contact">{{t('navbarComponent.contactUs')}}</a>
        </li>
      </ul>

      <!-- Right links -->
      <div class="d-flex align-items-center" *transloco="let t">
        <div class="btn" (click)="change('en')">{{t('navbarComponent.langs.en')}}</div>
        <div class="btn" (click)="change('uk')">{{t('navbarComponent.langs.uk')}}</div>
        <!-- <button type="button" class="btn btn-link">
          {{t('navbarComponent.loginBtn')}}
        </button> -->
      </div>
    </div>
  </div>
</nav>