.outer-canva {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 21;
}

.canvas {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    z-index: 20;
}


section {
    background-color: #f1f3f4;
    text-align: center;
}

.tools {
    width: 3em;
    padding: 0px;
    z-index: 10;
    background-color: #ffffff;
    border-radius: 2em;
    border: 2px solid #dadce0;

}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* usual cursors to select tools */
.vertical-tool {
    cursor: pointer;
}

/* selected tool */
.selected {
    fill: gold;
}

