<!-- As there are few pages without footers , now only one actually, 
we just put NavbarComponent right in the template
instead of overcomplicating our Router Module more. Check it out at app-routing.module.ts   -->
<section class="h-100 d-flex flex-column">
    <app-navbar></app-navbar>
    <app-canva-tools-horizontal></app-canva-tools-horizontal>
    <div class="container h-100 my-5 d-flex flex-row overflow-auto">
        <div class="bg-primary mx-2 bg-light tools d-flex flex-column my-5">
            <div class="my-3 vertical-tool" [id]="tools.pen" (click)="pickTool(tools.pen, 'canvas')"
                data-bs-toggle="tooltip" data-bs-placement="auto" [title]="'canvaComponent.tools.pen' | transloco">
                <svg [class]="tools.pen" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                    viewBox="0 0 24 24">

                    <!-- <path fill="none"  d="M24 0v24H0V0h24z" style="user-select: none;"></path> -->
                    <ellipse fill="white" width="24px" height="24px" viewBox="0 0 24 24" cx="12" cy="12" rx="12" ry="12"
                        class="noselect tool" />
                    <path fill="black"
                        d="M3 17.25V21h3.74l7.54-7.53-3.75-3.75L3 17.25zM18.37 3.3l2.34 2.33c.39.39.4 1.03.01 1.42l-5.37 5.36-3.76-3.76 2.53-2.53-.73-.73-5.66 5.66-1.4-1.4 6.37-6.36c.39-.39 1.04-.38 1.42.01l1.42 1.41 1.42-1.41c.38-.39 1.02-.39 1.41 0z">
                    </path>
                </svg>
            </div>
            <div class="my-3 vertical-tool" [id]="tools.eraser" (click)="pickTool(tools.eraser, 'canvas')"
                data-bs-toggle="tooltip" data-bs-placement="auto" [title]="'canvaComponent.tools.eraser' | transloco">
                <svg [class]="tools.eraser" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                    viewBox="0 0 24 24" style="user-select: none;">
                    <ellipse fill="white" width="24px" height="24px" viewBox="0 0 24 24" cx="12" cy="12" rx="12" ry="12"
                        class="noselect tool" />
                    <path fill="black"
                        d="M17.26 18l-2 2h6.7v-2h-4.7zm4.15-6.67L13.04 20H4.73l-2.15-2.14c-.78-.78-.78-2.03 0-2.82L13.62 3.58c.78-.77 2.06-.77 2.84 0l4.95 4.93c.79.78.79 2.04 0 2.82z"
                        style="user-select: none;"></path>
                </svg>
            </div>
            <div class="my-3 vertical-tool" [id]="tools.select" (click)="pickTool(tools.select, 'canvas')"
                data-bs-toggle="tooltip" data-bs-placement="auto" [title]="'canvaComponent.tools.select' | transloco">
                <svg [class]="tools.select" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                    viewBox="0 0 24 24" style="user-select: none;">
                    <ellipse fill="white" width="24px" height="24px" viewBox="0 0 24 24" cx="12" cy="12" rx="12" ry="12"
                        class="noselect tool" />
                    <polygon fill="black" points="12.926 12 17.5 20 15 21.5 10.405 13.595 6 18 6 2 19 12"
                        style="user-select: none;">
                    </polygon>
                </svg>
            </div>

            <div class="my-3 vertical-tool" id={{tools.sticker}} (click)="pickTool(tools.sticker, 'canvas')"
                data-bs-toggle="modal" data-bs-target="#noteModal">
                <svg [class]="tools.sticker" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
                    viewBox="-4 -4 24 24">
                    <ellipse fill="white" width="24px" height="24px" viewBox="0 0 24 24" cx="8" cy="8" rx="12" ry="12"
                        class="noselect tool" />
                    <path fill="black"
                        d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5V8H9.5A1.5 1.5 0 0 0 8 9.5V14H2.5a.5.5 0 0 1-.5-.5v-11zm7 11.293V9.5a.5.5 0 0 1 .5-.5h4.293L9 13.793z"
                        style="user-select: none;" />
                </svg>
            </div>


            <!-- Modal -->


        </div>
        <div class="outer-canva" id="screenshot-area">
            <canvas id="canvas" #canvas class="canvas">
            </canvas>
            <!-- <div class="example-box" cdkDragBoundary=".outer-canva" cdkDrag>
                    I can only be dragged within the dotted container
                </div> -->
            <ng-template #container>


            </ng-template>
        </div>
        <!-- <div class="draging-zone">
            <ng-template #container>

            </ng-template>
        </div> -->
    </div>

</section>

<app-popup-note></app-popup-note>